<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angular Kittens</title>
    <!-- styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <base href="/" target="/" />
  </head>
  <body ng-cloak ng-controller="mainController as mainCtrl">
    <nav>
      <div class="nav-wrapper blue-grey">
        <a href="#" class="brand-logo" ng-click="mainCtrl.home()">Angular Kittens</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a ng-click="mainCtrl.addKitten()">Add Kitten</a></li>
        </ul>
      </div>
    </nav>
    <div ng-view>
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <!-- main component -->
    <script type="text/javascript" src="js/components/main/main.controller.js"></script>
    <script type="text/javascript" src="js/components/kitten/kitten.controller.js"></script>
    <script type="text/javascript" src="js/components/kitten/kitten.service.js"></script>
    <script type="text/javascript" src="js/components/directives/comment.directive.js"></script>
    <script src="https://use.fontawesome.com/535058757b.js"></script>
  </body>
</html>
